#vscode config
/.vscode

# dependencies
/node_modules
/website/node_modules

## docs
/website/i18n
/website/build

# production
/dist

# jest
/coverage

# typescript
test.js

# misc
.DS_Store
.env

*.js
*.d.ts

!prettierrc.js
package-lock.json
