#vscode config
/.vscode

# dependencies
/node_modules
/website/node_modules

## docs
/website/i18n
/website/build

# production
/dist

# jest
/coverage

# build
index.ts

# misc
.DS_Store
.env

*.js

!prettierrc.js
!prepare.js

package-lock.json
